body{
  background-color: lightgrey;
}

.title{
  text-decoration: underline;
  color: orange;
}

.row{
padding: 1rem;
justify-content: space-between;
}


.card-img-top{
  padding: 1rem;
}

h1{
  background-color: silver;
}

.UIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
